.inline{
    line-height: 2em;
}

.fa4custom{
    font-size: 2.5em;
}

.newBG{
    background-image: url("../img/header-3.jpg") !important; 
}
.imgMax{
    max-height: 280px;
    
}
.divMax{
    text-align: center;
}

.center{
    display: flex;
    justify-content: center;
}